/* PC */
@media (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}
/* tablet and mobile */
@media (max-width: 991.98px) {
  /* ẩn navbar */
  .navbar {
    display: none;
  }
  /* căn giữa logo */
  .header-top {
    position: relative;
  }
  .header__logo {
    position: absolute;
    left: 50%;
    translate: -50% -50%;
  }
  /* căn lại vị trí menu */
  .menu-header__icon {
    position: absolute;
    top: 38px;
    left: 26px;
    color: #fff;
    width: 24px;
  }
  /* overlay */
  .menu-overlay {
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    inset: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }
  /* kiểm tra xem checkbox được check thì hiện overlay */
  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }
  /* code cho phan menu-drawer */
  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #2e1919;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 60px;
  }
  /* kiem tra xem checkbox duoc check thi hien menu-drawer */
  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
  /* menu-top */
  .close__menu {
    width: 24px;
    color: #fff;
  }
  .navbar-drawer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar__list {
    margin-top: 25px;
    flex-direction: column;
  }
  #navbar__list--mobile {
    margin-top: 25px;
  }
  .navbar__link {
    display: block;
    font-size: 2rem;
  }
  .navbar__link:hover {
    background: #00ffff37;
  }
  /* hero */
  .hero {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .hero__content {
    width: 80%;
    text-align: center;
    margin: 22px auto;
  }
  .hero__row {
    justify-content: center;
    margin-bottom: 50px;
  }
  /* service */
  .service__row {
    flex-direction: column;
    row-gap: 20px;
  }
  .service__img {
    width: 100%;
  }
  .service-item {
    width: 90%;
    margin: 0 auto;
    text-align: start;
  }
  .service__list {
    text-align: center;
  }
  /* work-list */
  .work__list {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  /* about */
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about__img--small {
    display: none;
  }
  .about-media {
    width: 100%;
  }
  .about__img--big {
    width: 100%;
    border-radius: 15px;
    margin: 25px auto;
  }
  .about-content {
    width: 90%;
    text-align: center;
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
}
/* mobile */
@media (max-width: 767.98px) {
}
/* tam an  */
.footer {
  display: none;
}
